%h1=relationship_group.name
=render 'show', :relationship_group => relationship_group
=link_to 'Edit', edit_relationship_group_path(relationship_group), :class => 'btn'
=link_to 'Delete', relationship_group, :confirm => 'Are you sure?', :method => :delete, :class => 'btn'
